@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --color-primary: hsl(172, 67%, 45%);
  --color-dark-cyan: hsl(183, 100%, 15%);
  --color-dark-grayish-cyan: hsl(186, 14%, 43%);
  --color-grayish-cyan: hsl(184, 14%, 56%);
  --color-light-grayish-cyan: hsl(185, 41%, 84%);
  --color-vlight-grayish-cyan: hsl(189, 41%, 97%);
  --color-white: hsl(0, 0%, 100%);
  --color-disable: hsl(183, 65%, 30%);
  --color-active-state: hsla(171, 59%, 70%, 0.966);
  --color-danger: rgb(255, 96, 122);
}

#root {
  border: 1px solid transparent;
  /*color: hsl(172, 100%, 81%); for testing purposes */
}

/*****************************
      BASIC RESET
*****************************/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* font-family: inherit; */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

html {
  font-size: 62.5%;
}

body,
html {
  height: 100vh;
}

body {
  font-family: "Space Mono", monospace, sans-serif;
  box-sizing: border-box;
  line-height: 1.5;

  background-color: var(--color-light-grayish-cyan);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65vw;
  margin: 10rem auto;
  /* background-color: var(--color-white); */
}

.header {
  margin-bottom: 3.65rem;
  display: flex;
  flex-direction: column;

  font-size: 2.2rem;
  line-height: 1.3;
  letter-spacing: 5px;
  color: var(--color-dark-grayish-cyan);
}

.tip {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  column-gap: 4rem;
  width: 100%;
  padding: 2.5rem;
  border-radius: 1.5rem;
  background-color: var(--color-white);
}

.inputs {
  padding: 2.3rem 0;
}

.inputs > :not(:last-child) {
  margin-bottom: 4.5rem;
}

.input-box {
  display: flex;
  align-items: center;
  border-radius: 0.7rem;
  border: 2px solid transparent;
  padding: 0.2rem 1.5rem;
  cursor: pointer;
  background-color: var(--color-vlight-grayish-cyan);
}

/* .input-box:hover {
  background-color: var(--color-light-grayish-cyan);
} */

.input-box:focus-within {
  border: 2px solid var(--color-primary);
}

.input-box > input {
  flex: 1;
  width: 5%;
  padding: 0.3rem 0;
  font-size: 2.2rem;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  text-align: right;
  border: none;
  color: var(--color-grayish-cyan);
  caret-color: var(--color-grayish-cyan);
  caret-color: var(--color-primary);
  background-color: var(--color-vlight-grayish-cyan);
  font-family: inherit;
}

.input-box input:focus {
  color: var(--color-dark-cyan);
  font-weight: 700;
}

.input-box input::placeholder {
  color: var(--color-grayish-cyan);
  font-weight: 700;
}

.label {
  font-size: 1.7rem;
  margin-bottom: 0.7rem;
  text-indent: 3.2px;
  font-weight: 700;
  color: var(--color-grayish-cyan);
  position: relative;
}

.error {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: small;
  color: var(--color-danger);
}

.hidden {
  display: none;
}

/* .label {
  font-size: 1.7rem;
  font-weight: 700;
} */

.tip-options {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
  grid-template-columns: repeat(3, minmax(9rem, 1fr));
  gap: 1.3rem;
}

.tip-options > * {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 0.6rem 3.5rem; */
  border-radius: 5px;
}

.tip-options input {
  font-family: inherit;
  font-size: 2rem;
  font-weight: 700;
  outline: none;
  padding: 0.6rem 1rem;
  border: 2px solid transparent;
  text-align: right;
  color: var(--color-dark-cyan);
  caret-color: var(--color-primary);
  background-color: var(--color-vlight-grayish-cyan);
}

.tip-options input::placeholder {
  text-align: center;
  font-size: 1.84rem;
  font-weight: 700;
  color: var(--color-dark-grayish-cyan);
}

.tip-options input:focus {
  border: 2px solid var(--color-primary);
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem 3.5rem;
  border-radius: 5px;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  font-family: inherit;
}

button span {
  display: flex;
  align-items: center;
  justify-content: center;
}

button .percent::after {
  content: "%";
  font-size: 1.8rem;
}

.btn-disable {
  background-color: hsl(183, 84%, 24%) !important;
  color: hsl(183, 100%, 15%) !important;
}

.btn-active {
  background-color: var(--color-primary) !important;
  color: hsl(183, 100%, 15%) !important;
}

/* button:hover {
  background-color: var(--color-active-state) !important;
  color: var(--color-dark-cyan) !important;
} */

.btn-primary {
  background-color: var(--color-dark-cyan);
  color: var(--color-vlight-grayish-cyan);
}

.selected,
button:hover {
  color: var(--color-dark-cyan);
  background-color: var(--color-primary);
}

.danger {
  border: 2px solid var(--color-danger);
}

.display {
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-cyan);
  border-radius: 1.5rem;
  padding: 5rem 3rem 3rem;
  overflow: hidden;
}

.results {
  margin-bottom: auto;
}

ul {
  list-style: none;
}

li {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

li:not(:last-child) {
  margin-bottom: 2.5rem;
}

.result-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
}

.label-tip-amount,
.label-total {
  font-size: 1.34rem;
  font-weight: 600;
  color: var(--color-vlight-grayish-cyan);
}

.label-person {
  font-size: 1.15rem;
  font-weight: 600;
  margin-left: 4px;
  color: var(--color-grayish-cyan);
}

em {
  font-style: normal;
}

.result-output {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-primary);
}

@media screen and (width <=68.75em) {
  .app {
    width: 80vw;
  }
}

@media screen and (width <= 50em) {
  /*********************************
        800px wide SCREEN
   ********************************/
  .app {
    max-width: 50rem;
    width: 100%;
    margin: 5rem auto 2rem;
  }
  .tip {
    grid-template-columns: minmax(20rem, 1fr);
  }

  .tip-options {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1.3rem 1.8rem;
  }

  .results {
    margin-bottom: 4rem;
  }

  .label-tip-amount,
  .label-total {
    font-size: 1.64rem;
  }

  .label-person {
    font-size: 1.25rem;
  }
  .result-output {
    font-size: 3.5rem;
  }
}

@media screen and (width<=31.25em) {
  /*********************************
        500px wide SCREEN
   ********************************/
  .app {
    margin-bottom: 0;
    margin-top: 5rem;
  }

  .tip {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 4rem;
  }
}

@media screen and (width <= 25em) {
  /*********************************
        400px wide SCREEN
   ********************************/
  .tip {
    grid-template-columns: minmax(12rem, 1fr);
    padding: 2.5rem;
  }

  .tip-options {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }

  .display {
    padding: 2.5rem 2rem 1.5rem;
  }

  .inputs {
    padding: 0 0 3rem;
  }

  .input-box {
    border-radius: 0.5rem;
    border: 2px solid transparent;
    padding: 0.4rem 1.5rem;
  }

  .input-box > input {
    padding: 0.1rem 0;
    font-size: 2.1rem;
  }

  li:not(:last-child) {
    margin-bottom: 2rem;
  }

  .result-output {
    font-size: 2.74rem;
  }
}

@media screen and (width <= 20.625em) {
  /*********************************
        330px wide SCREEN
   ********************************/

  .tip {
    padding: 1.5rem;
  }

  .display {
    border-radius: 1rem;
    padding: 1.25rem 1.5rem 1.5rem;
  }
  .results {
    margin-bottom: 3rem;
  }
}

@media screen and (width <= 16.25em) {
  /**************************
        260px wide screen
  ***************************/
  /* .tip {
    padding: 1.5rem;
  }

  .display {
    border-radius: 1rem;
    padding: 1.25rem 1.5rem 0.75rem;
  }
  .results {
    margin-bottom: 3rem;
  } */
  .results li {
    display: block;
  }

  .label-person {
    display: none;
  }

  .result-output {
    text-align: left;
  }
  .result-output::after {
    content: "/ person";
    font-size: 1rem;
    color: var(--color-grayish-cyan);
  }
}
